@import "tailwindcss";

@theme {
  --color-primary: #2d5bff;
  --color-secondary: #ff7a59;

  --breakpoint-mobile: 0px;
  --breakpoint-tablet: 640px;
  --breakpoint-desktop: 1024px;
  --breakpoint-widescreen: 1280px;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply text-black dark:text-gray-200 bg-gray-200 dark:bg-gray-900 transition-all ease-in-out duration-400;
}

.primary-btn {
  @apply bg-primary text-white;
}

.secondary-btn {
  @apply bg-secondary text-white;
}

.primary-btn,
.secondary-btn {
  @apply px-2 py-1 rounded-lg border border-white/50 flex items-center justify-center text-center gap-2 font-semibold cursor-pointer;
}

.input-field {
  @apply dark:bg-gray-600 bg-gray-300 dark:text-white px-3 py-2 text-lg outline-0 rounded-xl;
}
