@import "tailwindcss";

@theme {
  --color-primary: #2d5bff;
  --color-secondary: #ff7a59;

  --breakpoint-mobile: 0px;
  --breakpoint-tablet: 640px;
  --breakpoint-desktop: 1024px;
  --breakpoint-widescreen: 1280px;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-gray-900;
}
